* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.field {
  display: block;

  border-radius: 5%;
  margin: 0 2%;
  padding-bottom: 2%;
  width: 20%;
  background-color: slategrey;
  color: azure;
}
.value,
.label {
  display: block;
  text-align: center;
}
.value {
  font-size: 5rem;
  border-bottom: #212121 solid 2px;
  margin-left: 3%;
  margin-right: 3%;
}
